#calci {
    width: 500px;
    border-style: ridge;
    border-width: 10px;
    margin: 15px;
    padding-bottom: 10px;
}

#display {    
    border-style: groove;
    border-width: 05px;
    margin: 12px 12px 16px 12px;    
    width: 472px;    
}

#main {    
    font-size: 50px;
}

p {
    width: 100%;
    vertical-align: middle;
    text-align: right;    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 40px;    
    text-overflow: ellipsis;
}

.rowDiv {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

button:hover, button.digits:hover {    
    background-color: hsl(0, 0%, 55%);
}

button:active {
    transform: translateY(1px);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

button {
    width: 115px;
    height: 60px;
    font-size: 25px;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    border-style: inset;
    border-radius: 6px;
    border-width: 3px;
    cursor: pointer;
    background-color: hsl(0, 0%, 70%);
}

button.digits {
    background-color: hsl(0, 0%, 40%);
}